<div class="ms-hero ms-hero-img-wall ms-bg-fixed pb-4">
  <div id="carousel-shop" class="ms-carousel-shop carousel carousel-fade slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-shop" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-shop" data-slide-to="1"></li>
      <li data-target="#carousel-shop" data-slide-to="2"></li>
    </ol>
    <div class="container">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <div class="carousel-caption">
                <h1>Macbook Pro 2016</h1>
                <p class="lead">Commodi consectetur quam asperiores ut iure non illum eaque officia molestias optio beatae iste.</p>
                <ul class="list-unstyled">
                  <li>Touch Bar with integrated Touch ID sensor.</li>
                  <li>Retina display: 2880-by-1800 native resolution.</li>
                  <li>2.6GHz quad-core Intel Core i7, Turbo Boost up to 3.5GHz.</li>
                  <li>16GB of 2133MHz LPDDR3 onboard memory.</li>
                </ul>
                <a href="javascript:void(0)" class="btn btn-success btn-raised">More info</a>
                <a href="javascript:void(0)" class="btn btn-primary btn-raised">Buy Now</a>
              </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
              <img src="{{ 'assets/img/demo/macbook2016.png' | theme }}" class="img-responsive" alt="..."> </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div class="carousel-caption">
                <h1>Apple Watch Serie 2</h1>
                <p class="lead">Commodi consectetur quam asperiores ut iure non illum eaque officia molestias optio beatae iste.</p>
                <ul class="list-unstyled">
                  <li>Touch Bar with integrated Touch ID sensor.</li>
                  <li>Retina display: 2880-by-1800 native resolution.</li>
                  <li>2.6GHz quad-core Intel Core i7, Turbo Boost up to 3.5GHz.</li>
                  <li>16GB of 2133MHz LPDDR3 onboard memory.</li>
                </ul>
                <a href="javascript:void(0)" class="btn btn-success btn-raised">More info</a>
                <a href="javascript:void(0)" class="btn btn-primary btn-raised">Buy Now</a>
              </div>
            </div>
            <div class="col-md-6">
              <img src="{{ 'assets/img/demo/watch.png' | theme }}" class="img-responsive" alt="..."> </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <div class="carousel-caption">
                <h1>Microsoft Surface Book</h1>
                <p class="lead">Commodi consectetur quam asperiores ut iure non illum eaque officia molestias optio beatae iste.</p>
                <ul class="list-unstyled">
                  <li>Touch Bar with integrated Touch ID sensor.</li>
                  <li>Retina display: 2880-by-1800 native resolution.</li>
                  <li>2.6GHz quad-core Intel Core i7, Turbo Boost up to 3.5GHz.</li>
                  <li>16GB of 2133MHz LPDDR3 onboard memory.</li>
                </ul>
                <a href="javascript:void(0)" class="btn btn-success btn-raised">More info</a>
                <a href="javascript:void(0)" class="btn btn-primary btn-raised">Buy Now</a>
              </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
              <img src="{{ 'assets/img/demo/book.png' | theme }}" class="img-responsive" alt="..."> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a href="#carousel-shop" class="btn-circle btn-circle-sm btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev">
      <i class="zmdi zmdi-chevron-left"></i>
    </a>
    <a href="#carousel-shop" class="btn-circle btn-circle-sm btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next">
      <i class="zmdi zmdi-chevron-right"></i>
    </a>
  </div>
</div>