<div class="wrap ms-hero-img-beach ms-hero-bg-primary ms-bg-fixed">
  <div class="container index-1">
    <div class="text-center color-white mb-4">
      <h1>Discover our new products</h1>
      <p class="lead">Welcome to the Material Style Store. Discover the latest products at incredible prices.
        <br>Don't forget to check our daily offers.</p>
    </div>
    <div class="row color-dark">
      <div class="col-lg-4 col-md-6 col-xs-12 mix laptop apple" data-price="1999.99" data-date="20160901">
        <div class="card wow zoomInUp">
          <div class="card-block text-center">
            <a href="ecommerce-item.html">
              <img src="{{ 'assets/img/demo/products/macbook.png' | theme }}" alt="" class="img-responsive center-block">
            </a>
            <h4 class="text-normal text-center">Macbook Pro 2015</h4>
            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
            <div class="mt-2">
              <span class="mr-2">
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star"></i>
              </span>
              <span class="ms-tag ms-tag-success">$ 1999.99</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb">
              <i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix tablet apple" data-price="999.99" data-date="20160705">
        <div class="card wow zoomInUp">
          <div class="card-block text-center">
            <a href="ecommerce-item.html">
              <img src="{{ 'assets/img/demo/products/ipad.png' | theme }}" alt="" class="img-responsive center-block">
            </a>
            <h4 class="text-normal text-center">iPad Pro</h4>
            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
            <div class="mt-2">
              <span class="mr-2">
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
              </span>
              <span class="ms-tag ms-tag-success">$ 999.99</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb">
              <i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix accessory samsung" data-price="459.89" data-date="20160815">
        <div class="card wow zoomInUp">
          <div class="card-block text-center">
            <a href="ecommerce-item.html">
              <img src="{{ 'assets/img/demo/products/gear.png' | theme }}" alt="" class="img-responsive center-block">
            </a>
            <h4 class="text-normal text-center">Galaxy Gear S3</h4>
            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
            <div class="mt-2">
              <span class="mr-2">
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star"></i>
                <i class="zmdi zmdi-star"></i>
              </span>
              <span class="ms-tag ms-tag-success">$ 459.89</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb">
              <i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix accessory apple" data-price="769.99" data-date="20151014">
        <div class="card wow zoomInUp">
          <div class="card-block text-center">
            <a href="ecommerce-item.html">
              <img src="{{ 'assets/img/demo/products/appleWatch.png' | theme }}" alt="" class="img-responsive center-block">
            </a>
            <h4 class="text-normal text-center">Apple Watch Serie 2</h4>
            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
            <div class="mt-2">
              <span class="mr-2">
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star"></i>
                <i class="zmdi zmdi-star"></i>
              </span>
              <span class="ms-tag ms-tag-success">$ 769.99</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb">
              <i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix smartphone samsung" data-price="569.99" data-date="20151201">
        <div class="card wow zoomInUp">
          <div class="card-block text-center">
            <a href="ecommerce-item.html">
              <img src="{{ 'assets/img/demo/products/s7.png' | theme }}" alt="" class="img-responsive center-block">
            </a>
            <h4 class="text-normal text-center">Samsung Galaxy S7</h4>
            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
            <div class="mt-2">
              <span class="mr-2">
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star"></i>
              </span>
              <span class="ms-tag ms-tag-success">$ 569.99</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb">
              <i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix laptop microsoft" data-price="2499.25" data-date="20161205">
        <div class="card wow zoomInUp">
          <div class="card-block text-center">
            <a href="ecommerce-item.html">
              <img src="{{ 'assets/img/demo/products/surfaceBook.png' | theme }}" alt="" class="img-responsive center-block">
            </a>
            <h4 class="text-normal text-center">Microsoft Surface Book</h4>
            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
            <div class="mt-2">
              <span class="mr-2">
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star color-warning"></i>
                <i class="zmdi zmdi-star"></i>
              </span>
              <span class="ms-tag ms-tag-success">$ 2499.25</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb">
              <i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- conrainer -->
</div>