<div class="wrap bg-info">
  <div class="container">
    <div class="text-center color-white mw-800 center-block mb-4">
      <h2 class=" mb-2 wow fadeInDown animation-delay-4">Know our amazing features</h2>
      <p class="lead wow fadeInDown animation-delay-5"> Lorem ipsum dolor sit amet,
        <span class="">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
    </div>
    <div class="row color-dark">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-warning wow fadeInLeft animation-delay-4">
          <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning">
              <i class="zmdi zmdi-cloud-outline"></i>
            </span>
            <h4 class="color-warning">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="javascript:void(0)" class="btn btn-warning btn-raised">Action here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-royal wow fadeInLeft animation-delay-3">
          <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-royal">
              <i class="zmdi zmdi-cloud-outline"></i>
            </span>
            <h4 class="color-royal">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="javascript:void(0)" class="btn btn-royal btn-raised">Action here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-success wow fadeInRight animation-delay-3">
          <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success">
              <i class="zmdi zmdi-cloud-outline"></i>
            </span>
            <h4 class="color-success">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="javascript:void(0)" class="btn btn-success btn-raised">Action here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-danger wow fadeInRight animation-delay-4">
          <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-danger">
              <i class="zmdi zmdi-cloud-outline"></i>
            </span>
            <h4 class="color-danger">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="javascript:void(0)" class="btn btn-danger btn-raised">Action here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center wow fadeInUp animation-delay-7 mt-2">
      <p class="lead lead-lg color-white text-center center-block mt-6 mw-800 text-uppercase fw-300 mb-2">If you have questions or need a personalized plan, contact us and we will study your project and offer a customized solution.</p>
      <a href="javascript:void(0)" class="btn btn-white btn-xlg btn-raised color-info">
        <i class="zmdi zmdi-email"></i> Contact Us</a>
    </div>
  </div>
  <!-- container -->
</div>