<div class="container mt-6">
  <div class="text-center">
    <h2 class="color-primary">Knows the
      <span class="text-normal">Material Style</span> and surprise yourself</h2>
    <p class="lead">Put here a short description or brief highlights in your app.</p>
  </div>
  <div class="mw-800 center-block">
    <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-3" role="tablist">
      <li class="wow fadeInDown animation-delay-6" role="presentation">
        <a href="#windows" aria-controls="windows" role="tab" data-toggle="tab" class="withoutripple">
          <i class="zmdi zmdi-windows"></i>
          <span class="hidden-xs">Windows</span>
        </a>
      </li>
      <li class="wow fadeInDown animation-delay-4 active" role="presentation">
        <a href="#macos" aria-controls="macos" role="tab" data-toggle="tab" class="withoutripple">
          <i class="zmdi zmdi-apple"></i>
          <span class="hidden-xs">MacOS</span>
        </a>
      </li>
      <li class="wow fadeInDown animation-delay-2" role="presentation">
        <a href="#linux" aria-controls="linux" role="tab" data-toggle="tab" class="withoutripple">
          <i class="fa fa-linux"></i>
          <span class="hidden-xs">Linux</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="panel-body">
    <!-- Tab panes -->
    <div class="tab-content mt-4">
      <div role="tabpanel" class="tab-pane fade" id="windows">
        <div class="row">
          <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
            <ul class="list-unstyled hand-list">
              <li class="animated fadeInLeft animation-delay-2">
                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
              </li>
              <li class="animated fadeInLeft animation-delay-4">
                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
              </li>
              <li class="animated fadeInLeft animation-delay-6">
                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
            <img class="img-responsive animated zoomInDown animation-delay-3" src="{{ 'assets/img/demo/surface.png' | theme }}"> </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active in fade" id="macos">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <ul class="list-unstyled hand-list">
              <li class="wow fadeInLeft animation-delay-2">
                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
              </li>
              <li class="wow fadeInLeft animation-delay-4">
                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
              </li>
              <li class="wow fadeInLeft animation-delay-6">
                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-7">
            <img class="img-responsive animated zoomInDown animation-delay-3" src="{{ 'assets/img/demo/new_mac.png' | theme }}"> </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="linux">
        <div class="row">
          <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
            <ul class="list-unstyled hand-list">
              <li class="animated fadeInLeft animation-delay-2">
                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
              </li>
              <li class="animated fadeInLeft animation-delay-4">
                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
              </li>
              <li class="animated fadeInLeft animation-delay-6">
                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
            <img class="img-responsive animated zoomInDown animation-delay-3" src="{{ 'assets/img/demo/ubuntu_tablet.png' | theme }}"> </div>
        </div>
      </div>
    </div>
  </div>
</div>