[viewBag]
[staticMenu]
code = "category-list"
==
<div class="panel-group ms-collapse no-margin" id="catList" role="tablist" aria-multiselectable="true">
  {% for item in staticMenu.menuItems %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingOne4">
        <h4 class="panel-title">
          <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#catList" href="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
            <i class="zmdi zmdi-pin"></i> {{ item.title }} </a>
        </h4>
      </div>
      <div id="collapse{{ item.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne4">
        <div class="panel-body">
          {% if item.items %}
            <div class="list-group">
              <a href="javascript:void(0)" class="list-group-item withripple">
                <i class="color-primary zmdi zmdi-favorite-outline"></i>
                <span class="badge bg-danger">5</span>Cras justo odio</a>
            </div>
          <ul>
            {% for subitem in item.items %}
              <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="card-block hidden">
  <form class="form-horizontal" id="Filters">
    <h4 class="mb-1 no-mt">Devices</h4>
    <fieldset>
      <div class="form-group no-mt">
        <div class="checkbox ml-2">
          <label>
            <input type="checkbox" value=".smartphone"> Smartphones </label>
        </div>
        <div class="checkbox  ml-2">
          <label>
            <input type="checkbox" value=".tablet"> Tablets </label>
        </div>
        <div class="checkbox  ml-2">
          <label>
            <input type="checkbox" value=".laptop"> Laptops </label>
        </div>
        <div class="checkbox  ml-2">
          <label>
            <input type="checkbox" value=".accessory"> Accesories </label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <h4 class="mb-1">Brand</h4>
      <div class="form-group no-mt">
        <div class="checkbox  ml-2">
          <label>
            <input type="checkbox" value=".apple"> Apple </label>
        </div>
        <div class="checkbox  ml-2">
          <label>
            <input type="checkbox" value=".microsoft"> Microsoft </label>
        </div>
        <div class="checkbox  ml-2">
          <label>
            <input type="checkbox" value=".samsung"> Samsung </label>
        </div>
      </div>
    </fieldset>
    <button class="btn btn-danger btn-block no-mb mt-2" id="Reset">
      <i class="zmdi zmdi-delete"></i> Clear Filters</button>
  </form>
  <form class="form-horizontal">
    <h4>Sort by</h4>
    <select id="SortSelect" class="form-control selectpicker">
      <option value="random">Popular</option>
      <option value="price:asc">Price ASC</option>
      <option value="price:desc">Price DESC</option>
      <option value="date:asc">Release ASC</option>
      <option value="date:desc">Release DESC</option>
    </select>
  </form>
</div>
