<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <!-- Navigation -->
                <ul id="menu-footer" class="nav-foot">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#">Contact</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#">Terms</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#">Privacy</a>
                    </li>
                </ul>
                <!-- /Navigation -->
            </div>

            <div class="col-md-4">
                <!-- Copyright and Credits -->
                <div class="copyright">
                    Copyright 2016<br />
                    <span class="credit">
                        Vega Theme for <a target="_blank" href="https://www.octobercms.com">OctoberCMS</a>
                    </span>
                </div>
                <!-- /Copyright and Credits -->
            </div>

        </div>
    </div>
</div>
